# SPDX-FileCopyrightText: Copyright (C) 2025 Advanced Micro Devices, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

/my_install*
/ironenv*
.vscode
__pycache__
**/__pycache__/**
.DS_Store
*.pyc
*.o
*.elf
*.ll
*.pdi
*.bin
*.xclbin
output.mlir
*.mlir.prj/
**/*.mlir.prj/
build/*
build_*/
**/_build/**
**/build/**
**/build_*/**
*.exe
*.csv
secret_github_token
id_ed25519
id_ed25519.pub
*.log
*.safetensors
*.model
.cline_storage
*.egg-info
